@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif ;
}

.sidebar {
  color: #fff;
  position: fixed;

}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  background-color: #273746;

}

.logo-icon{
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

}

.menu-bar{
  height: 88vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
  text-decoration: none;
}

.toggle-theme-btn{
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.toggle{
  margin-left: 30px;
  color: #fff;
}

/*WJBLANCO: SE cambió el color de fondo del formulario.
  Se agregó el color de fonodo para los inputs y el select.
  Se modificó color de texto en labels.
*/
.form-container, .FormContainer {
  /*background-color: #ffffff;*/
  background-color: #1D2835;
  color: #fff;
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input, .form-container select {
  background-color: #455e7e;
  color: #fff;
}

.form-container label {
  color: #fff;
}

/*FIN WJBLANCO*/


.form-container2 {
  background-color: #ffffff;
  margin: 50px;
  border-radius: 10px;
}
a {
  text-decoration: none;
}

.container{
background-color: #192331;
padding: 30px;
}

/* formulario de agregar servicio */
.FormContainer{
  background-color: #192331;
  padding: 30px;
}

.Clientes{
  background-color: #192331;
  padding: 30px;
}

.NuevoCliente, .NuevoPosibleCliente{
  /*background-color: #fff;*/
  background-color: #192331;

  padding: 30px;
}

.PosibleCliente{
  background-color: #192331;
  padding: 30px;
}

.Proveedores{
  background-color: #192331;
  padding: 30px;
}

.header-vista {
  padding: 10px;
  position: fixed;
  z-index: 999; 
  top: 55px; 
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: auto; 
  box-sizing: border-box;
  align-items: center;
}

.nuevo-btn {
  z-index: 1001;
  position: relative; 
  margin-right: 0; /* Elimina cualquier margen que empuje el botón fuera del contenedor */
  margin-left: auto;
}
.header-title{
  font-size: 2rem;
  font-weight: 650;
align-items: center;
}

.thead-vista {
  position: sticky;
  top: 118px;
  z-index: 990;

}
.thead-vista th {
  background-color: #EBEBEB !important;
  color: black !important;
}

table {
  table-layout: fixed;
  width: 100%;
  margin-top: 25px;
}

th {
  width: auto;
}
td.opciones {
  display: flex;
  justify-content: flex-start; 
  gap: 7px; 
}

td.opciones button {
  display: inline-block;
  padding: 4px 4px;
}

.container input, .container select {
  background-color: #455e7e;
  color: #fff;
}

h2{
  color: #fff;
  font-style: unset;
  font-size: large;
  text-align: center;
}